# Entorno virtual
venv/
env/
ENV/

# Variables de entorno
.env
.env.local
.env.dev
.env.prod

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs
*.log

# Base de datos
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db